body{
    background: url(./background-texture.jpg);
    font-family: Arial, Helvetica, sans-serif;
    }
.foodpics{
    width: 200px;    
}
.foodpics:hover{
    opacity: 0.7;
    width: 210px;
    border-radius: 20%;
}


    